html{
    font-size: 16px;
}

header{
    background-color:white;
    grid-template-rows: max-content;
    grid-row: 3;
    grid-template-columns: max-content;
    grid-column: 4;
    column-width: 25rem;
    grid-auto-flow:row;
    height: fit-content;
}

.LogoContainer{
    max-width:fit-content;
    max-height:fit-content;
    grid-area: auto;
    position:absolute;

}
.Title{
    grid-row: 1;
    grid-column: 2/3;
    display: flex;
    position: relative;

}