html, body {
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-size: 16px;
    min-width: 100%;
    width: 100%;
}

body{
    bottom: 100%;
}

.bg-image {
    background-image: url('https://images.unsplash.com/photo-1444159759392-aeeb3d5851c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cm9ja3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}

.site-links {
   color: var(--bs-blue-900);
   border-right-width: 0.5px;
   border-right-style: solid;
}

.body-div-size{
    height:fit-content;
    min-height:fit-content;
    margin-bottom:0;
}

.header-footer-color {
    background: #FAEBD7;
}

.site-footer {
    margin: 0;
    height:5.6rem;
}

.heading-title {
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
    font-size: 3.7rem;
    position: absolute;
    left: 7rem;
    top: -1rem;
    min-width:400px;
    max-width:400px;
}

.sub-heading-title {
    position: absolute;
    top: 3rem;
    left: 22rem;
}

.Logo {
    height: 6rem;
    width: 6rem;
    position: absolute;
    left: .5rem;
}

div.nav-menu-positioning {
    position: absolute;
    right: 10rem;
}

.header-proportions{
    min-height: 6rem;
}

.sign-in-up{
    margin-left: 3rem;
}