@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>

    <head>
        <meta name="viewpot" content="width=device-width" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-grid.min.css" />
        <link rel=" stylesheet" href="~/root/CSS/SharedCustom.css" />
    </head>
        
    <body>

        <header id="SiteHeader" class="nav bg-gradient ">
            <div id"LogoDiv" class=".navbar-brand"><img class="small"src="~/Images/Logo/R.png" style="display:block" height="150" width="150" /></div>

        </header>

        @RenderBody()

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/popper.js/cjs/popper.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <footer>

        </footer>
        
    </body>
    
</html>