@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    
    <link rel="stylesheet" type="text/css" href="~/lib/react-bootstrap/react-bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/SharedCustom.css" />  
    <link rel="stylesheet" type="text/css" href="~/CSS/Navigation-with-Button.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/ValidationRules.css" />


</head>

<body>
    <div class="bg-image body-div-size">
        <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button header-footer-color header-proportions">
            <div class="container">

                <a asp-controller="LotusTransformation" asp-action="Home><img src="~/Images/Logo/R.png" class="Logo"></a>
                
                <a class="navbar-brand heading-title" asp-controller="LotusTransformation" asp-action="Home">Lotus Transformation</a>
                <a class="navbar-brand sub-heading-title" asp-controller="LotusTransformation" asp-action="Home">Hollistic Health and Wellness Coaching</a>
               
                <button data-bs-toggle="collapse" class="navbar-toggler dropdown-menu" data-bs-target="#navcol-1"> 
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse nav-menu-positioning" id="navcol-1">

                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link site-links" asp-controller="LotusGeneral" asp-action="Home">Home</a></li>
                        <li class="nav-item"><a class="nav-link site-links" asp-controller="LotusGeneral" asp-action="About">About</a></li>
                        <li class="nav-item"><a class="nav-link site-links" asp-controller="LotusGeneral" asp-action="Services">Services</a></li>
                        <li class="nav-item"><a class="nav-link site-links" asp-controller="LotusGeneral" asp-action="Meditations">Meditations</a></li>
                        <li class="nav-item"><a class="nav-link site-links" asp-action="Inspiration">Inspiration</a></li>
                    </ul>

                    <span class="navbar-text actions sign-in-up"> 
                        <a class="btn btn-light action-button login" style="color: var(--bs-gray-900);" asp-controller="SignIn" asp-action="SignIn">Log In</a>
                        <a class="btn btn-light action-button" role="button" style="color: var(--bs-gray-900);" asp-controller="CreateAccount" asp-action="AccountCreation">Sign Up</a>
                    </span>

                </div>
            </div>
        </nav>

        <div class="container py-5 my-5 h-auto" style="background-color:#c8ee90; border-radius: 15px;">
            <h1 class="display-5 fw-bold">Welcome to Lotus Transformation!</h1>
             @RenderBody()
        </div>

    <footer class="header-footer-color site-footer">
        
    </footer>

    </div>


    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/popper.js/cjs/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap.js"></script>
</body>
</html>